/*body and navbar*/

body, .nav-bar {
    background-color: #f0f0f0;
}

.nav-item {
    font-family: 'Abel', sans-serif;
}

.nav-links {
    width: 105px;
    height: 105px;
}

.nav-link-item {
    font-size: x-small;
}

.codeup-link {
    font-size: x-large;
    line-height: 10px;
}


/*Headers and paragraphs*/

.header {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.selected-work {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.the-last {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

h5 {
    /*text-align: left;*/
    font-family: 'Anton', sans-serif;
    margin-left: 1em;
    font-size: x-large;
}

.featured-project {
    margin-left: .5em;
    font-family: 'Abel', sans-serif;
}

.last-tweet {
    font-family: 'Abel', sans-serif;
    margin-left: 2em;
    margin-right: auto;
}

/*icons*/

.icon-header1 {
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: #E6563B;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 10px solid white;
    line-height: 115px;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.icon-header2 {
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: #EB9D3A;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 10px solid white;
    line-height: 115px;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.icon-header3 {
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: #7CB06C;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 10px solid white;
    line-height: 115px;
    margin-left: 2.5em;
    margin-right: 2.5em;

}

.icon-header4 {
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: #00ABA9;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 10px solid white;
    line-height: 115px;
    margin-left: 2.5em;
    margin-right: 2.5em;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-rule {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}



.small-circles {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    font-size: small;
    margin-left: .2em;
    margin-right: .2em;

}

.design {
    background-color: #E6563B;

}

.develop {
    background-color: #EB9D3A;

}

.support {
    background-color: #7CB06C;

}

.host {
    background-color: #00ABA9;

}


/*images*/

.selected-work-image img {
    margin: .6em;
    border: 5px solid #d5d5d5;

}

.last-images {
    height: 100px;
    width: 100px;
    border: 5px solid #e6e6e6;
    margin-left: 2em;
}

.selected-images {
    height: 300px;
    width: 100%;
}



