/*body and navbar*/

body, .nav-bar {
    background-color: #f0f0f0;
}

:root {
    --red: #e6563b;
    --orange: #EB9D3A;
    --green: #7cb06c;
    --blue: #00aba9;
}
.red {
    background-color: var(--red);
}
.orange {
    background-color: var(--orange);
}
.green {
    background-color: var(--green);
}
.blue {
    background-color: var(--blue);
}

.nav-item {
    font-family: 'Abel', sans-serif;
}

.nav-links {
    width: 105px;
    height: 105px;
}

.nav-link-item {
    font-size: medium;
}

.codeup-link {
    font-size: x-large;
    line-height: 10px;
}

.services {
    margin-left: 4em;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        float: right;
    }
    .nav-link-item {
        margin-left: 0;
    }
    .active {
        display: none;
    }
}


/*Headers and paragraphs*/

.header {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: xxx-large;
}
/*Selected work*/

.selected-work {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

/*the last*/

.the-last {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

h5 {
    font-family: 'Anton', sans-serif;
    margin-left: 1em;
    font-size: x-large;
}

.featured-project {
    margin-left: .5em;
    font-family: 'Abel', sans-serif;
}

.last-tweet {
    font-family: 'Abel', sans-serif;
    margin-left: 2em;
    margin-right: auto;
}

/*icons*/

.icon {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 7px solid white;
    line-height: 85px;
    margin: 1em;
}

.icon p {
    font-size: small;
    font-family: 'Anton', sans-serif;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-rule {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}



.small-circles {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    font-size: small;
    margin-left: .2em;
    margin-right: .2em;
    font-family: 'Anton', sans-serif;
}

/*images*/

.selected-work-image img {
    margin: .6em;
    border: 5px solid #d5d5d5;

}

.last-images {
    height: 100px;
    width: 100px;
    border: 5px solid #e6e6e6;
    margin-left: 2em;
}


.selected-images {
    height: 250px;
}




